body
{
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	font: 14px/18px Arial, Helvetica, sans-serif;
	padding: 0 2rem 0 2rem;
}


div.masthead
{
	position: fixed;
	top: 0;
}

div.footer
{
	position: fixed;
	bottom: 0;
	font-size: 0.75rem;
}

div.hint
{
	font-size: 0.5rem;
	float: right;
}

.banner {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.banner img
{
	margin: 2rem auto 2rem;
}

