div.masthead
{
	position: fixed;
	top: 0;
}

div.footer
{
	position: fixed;
	bottom: 0;
	font-size: 0.75rem;
}

div.hint
{
	font-size: 0.5rem;
	float: right;
}

.banner img
{
	width: 100% !important;
	height: auto;
	padding-top:  3rem;
}

